@font-face {
  font-family: 'LifehackSans-Regular';
  src: url('../fonts/LifehackSans-Regular.eot');
  src: url('../fonts/LifehackSans-Regular.woff2') format('woff2'),
       url('../fonts/LifehackSans-Regular.woff') format('woff'),
       url('../fonts/LifehackSans-Regular.ttf') format('truetype'),
       url('../fonts/LifehackSans-Regular.svg#LifehackSans-Regular') format('svg'),
       url('../fonts/LifehackSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
       url('../fonts/Lato-Regular.woff') format('woff'),
       url('../fonts/Lato-Regular.ttf') format('truetype'),
       url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg'),
       url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
