// ----
// Sass (v3.3.6)
// Compass (v)
// Susy (v)
// ---- 
@charset "UTF-8"; 
@import "susy";
@import "compass";
@import "breakpoint";
@import "_fonts";
@import "_reset";
@import "_normalize";
// @import "_slickslider";
@import "_slick";
@import "_slick-theme";
//@import url(http://allfont.ru/allfont.css?fonts=open-sans);
// Susy custom settings 
$susy: ( columns: 12, container: 1000px, gutters: 0, global-box-sizing: border-box, debug: (image: show));
@include border-box-sizing;
$color_1: #111111;
$color_2: #87827c;
$color_2_hover: #615c56;
$color_l: #e1e1e1;
$color_t: #ebebeb;
$color_3_hover: #89c3c5;
$color_4: #f5f5f5;
$color_5: #9dcd4b;
$color_6: #666666;
$color_9: #909090;
$color_b:#000000;
$shadow_c:transparentize($color_b,.65);
$color_w:#ffffff;
$color_g:#59b687;
$color_text:#333333;
$color_f:#8a51fc;
$color_p:#ff3366;
$color_hip:#8fd1f3;
$color_break:#ff820c;
$col_tr:transparent;
$size12:0.75rem;
$size14:0.875rem !default;
$size16:1rem;
$size18:1.125rem;
$size20:1.25rem;
$size24:1.5rem;
$size30:1.875rem;
$size36:2.25rem;
$size40:2.5rem;
$size_h:4.5rem;
$font_f: PFSquareSansProMedium;
$font_o: OpenSans;
$font_c: CenturyGothic;
$font_m:MyriadPro;
%shadow_block {
    box-shadow: 0px -3px 7px $shadow_c;
}
%shadow_text {
    text-shadow: 0px -3px 7px $shadow_c;
}
body
{
    min-width: 1024px;
    font-family: $font_f;
    width: 100%;
    color:#000;
}
%back{
    background-position:  center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}
figure,h1{
    margin:0;
}
li{
    display: inline-block;
}
img{
    vertical-align: baseline;
}
%button{
      text-transform: uppercase;
      font-size:$size16;
      background-color: $color_g;
      box-shadow: 0 0 0 2px $color_w,0 0 0 4px $color_g;
      border-radius: 20px;
      outline: none;
      padding: 5px 20px;
      border: 0;
}
@mixin flex{
 
	display: flex;
	align-items: center;
}
@mixin flex_cont{
    justify-content: center;
}
@mixin box-shadow($shadow) {
    box-shadow: $shadow;
}
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
a{
    text-decoration: none;
    color:$color_b;
    font-family: $font_f;
}
.text_wrap{
    width: 90%;
    max-width: 1000px;
    margin:auto;
}
header{
    background-color: transparentize($color_w,.1);
    .main_header{
        padding-bottom: 5px;
        @include flex;
        @include flex_cont;
    }
    .left_header_nav{
        @include flex;
        .header_nav{
             li{
                padding-right:1.5rem;
                a{
                    font-size: $size14;
                    color: $color_text;
                    &:hover{
                        border-bottom: 1px dotted $color_text;
                    }
                }
            }
        }
    }
    .logo{
            height: inherit;
            width: 140px;
            a{
                padding-right: 30px;
                display: block;
                img{
                    vertical-align: middle;
                    width: 100%;
                }
            }
        }

    .left_header_nav,.contact
    {
        float: left;
        
        .social,.info,.logo,.header_nav
        {
            float: left;
        }
        .social,.logo{
            width:35%;
        }
        .social
        {
            text-align: right;
        }
        .info,.header_nav{
            width:65%;
            img{
                padding: 0 10px;
            }
        }
        @include span(1 of 2);
      
     }
  
    .contact{
       
            @include flex;
            padding: 10px 0;
        a{
            display: block;
            color: $color_6;
            text-align: right;
            span{
                color: $color_f;
            }
            &.phone{
                font-size: $size30;
            }
            &.mail{
                font-size: $size14;
                padding-top: 0.75rem;
            }
        }
    }
    .bottom_header_nav{
        background-color: $color_text;
        text-align: center;
        height:50px;
        overflow: hidden;
        @extend %shadow_block; 
        a{  
            display: block;
            color:$color_w;
            padding: 1rem;
            font-size: $size16;
        }
        .text_wrap{
            ul{
                margin-top: -45px;
                li{
                    border-right: 5px solid $color_g;
                    transform: rotate(20deg);
                    padding: 3rem 1.125rem;
                    &:first-child{
                        border-left: 5px solid $color_g;
                    }
                    &:last-child{
                        background-color: $color_g;
                    }
                
                        a{
                            transform: rotate(-20deg);
                            &:hover{
                                color:$color_g;
                            }
                        }
                    &:last-child{
                        a{
                            &:hover{
                                color:$color_text;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
.back1{
    @extend %back;
    background-image: url(../images/bg1.png);
    background-size: cover;
    position: relative;
    overflow: hidden;
        video { 
            position: absolute;
            top: 48%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            transform: translateX(-50%) translateY(-50%);
            background-size: cover;
            transition: 1s opacity;
        }
    .back_cl{
            
            position: absolute;
            bottom: 0;
            z-index: 5;
            img{
                vertical-align: middle;
                width: 100%;
            }
        }
}
.back2{
         @extend %back;
         background-image: url(../images/footer-right.jpg);
         position: relative;
         background-size: contain;
         height: 1242px;
} 
 .back3{
         @extend %back;
         background-image: url(../images/bg2.jpg);
         position: relative;
         
         .bg {
                background: url('../images/spot.png') center center no-repeat ;
                background-size: cover;
                position: absolute;
                width: 100%;
                height: 100%;
                margin-bottom: 300px;
                bottom:-100px;
                left:0;
                right:0;
                z-index: 1;
          }
 }
.back4{
    
    @extend %back;
         background-image: url(../images/bg3.jpg);
         background-position: center -60%;
         height: 720px;
         transition: .5s;
}
.back4v { 
        @extend %back;
        background-image: url(../images/bg3.jpg);
        background-position: center -290%;
        height: 960px;
        transition: .5s;
}
.back5{ 
    position: relative;
    figure{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        text-align: left;
        width: 13%;
        img{
            width: 100%;
        }
    }          
}
.studios{
    padding: 0 2.5%;
    margin: 30px 0;
    z-index: 2;
    position: relative;
    .link_gal{
        width: 100%;
        text-align: right;
        padding: 0 30px;
        a{
            font:$size14 $font_f;
            color:$color_g;
            text-transform: uppercase;
            border-bottom:1px dotted $color_g;
        }
    }
    #sliders{
        height: 100%;
        display: flex;
        align-items: center;
        button{
            height: 100%;
        }
        .slick-slide{
            transform: scale(0.8); 
            img {
                display: inline-block;
                width: 100%;
                border:5px solid $color_g; 
            }
        }
        .slick-center
        {
            transform: scale(1);
        }
  
        .slick-prev:before {
             content: "NAZAD";
             color:$color_text;
             transform: rotate(-90deg);
             transform-origin:100% 100% 0;
             display: block;
             font: $size20 $font_o;  
             
         }
         .slick-prev::after{
             content: url(../images/sl_prev.png);
             display: block;
             margin-top: -65px;
         }
        .slick-next:before {
            content: "VPERED";
            color:$color_text;
           transform: rotate(-90deg);
           transform-origin:100% 100% 0;
            display: block;
            font: $size20 $font_o; 
        }
         .slick-next::after{
             content: url(../images/sl_next.png);
             display: block;
             margin-top: -75px;
         }
    }
}
section{
    
    padding-top: 40px;
    text-align: center;

    .word{
        width: 75%;
        margin: 50px auto;
        color: $color_w;
        border-left:5px solid $color_w;
        border-right:5px solid $color_w;
        &::before,&::after
            {
                background: #ffffff;
                content: "";
                display: block;
                height: 5px;
                width: 100%;
            }
         &::before{
                  background: linear-gradient(to right, $color_w 21%, $col_tr 20%, $col_tr 40%, $col_tr 40%, $col_tr 60%, $col_tr 60%, $col_tr 90%, $color_w 60%);
         
         }
         &::after{
                 background: linear-gradient(to right,$color_w 15%,$col_tr 15%, $col_tr 40%,$col_tr 40%, $col_tr 60%,$col_tr 60%, $col_tr 80%,$color_w 45%);
         }   
        h1, h2{
            font: $size_h $font_f;
            @extend %shadow_text; 
            display: inline-block;
            
        }
        h2{
            text-transform: uppercase;
                  
        }
    }
    .benefits{
        
        figure{
            float: left;
            @include span(1 of 5);
            text-align: center;
            padding: 0 5px;
            display: block;
            img,figcaption{
                display: block;
                 margin: 10px auto;
                 color: $color_w;
                 text-transform: uppercase;
                 font-size: $size14;
                 
            }
        &:nth-child(2){
                    figcaption{
                         padding: 0 25px;
                    }
                 }    
        }
    }
    .request{
        margin: 53px auto 0;
        width:75%;
        fieldset
        {
            border:3px solid $color_w;
            padding: 0;
            margin: 0; 
        }
        form{
            background-color:$color_w;
            border:3px solid $color_g;
            padding: 20px;
            p{
                color: $color_text;
                font-size:$size20;
                text-transform: uppercase;
                span{
                    color:$color_f;
                }
            }
            input{
                border-radius: 20px;
                border:1px solid $color_g;
                height: 35px;
                width: 195px;
                margin: 25px 7px 0;
                outline: none;
                background: none;
                padding: 0 20px;
                color:$color_6;
                @include placeholder {
                    color:$color_6;
                    font-size:$size16;
                    opacity:1;
                    
                }
                &:focus{
                    color:$color_text;
                }
            }
             button{
                    @extend %button;
                    color:$color_w;
                    background-color:$color-g;
                    box-shadow: 0 0 0 2px $color_w,0 0 0 4px $color_g;
                                       
                }
        }
    }
    .one{
        
        figure{
            img{
                width: 100%;
            }
        }
    }
    .style{
        
        li{
            display: block;
            @include span(1 of 5);
            padding: 5px;
            &:nth-child(5n)
            {
              padding-left: 5px;  
            }
            img{
            width: 100%;
            vertical-align: middle;
             &:hover{
               
                box-shadow: 3px 3px  5px transparentize($color_b,.5),-3px -3px  5px transparentize($color_b,.5);
             }
             }
        }
    }
    .text_before{
        padding-top: 20px;
        p{
            color: $color_g;
            font-size: $size18;
        }
        h3{
            color:$color_text;
            font-size: $size36;
            text-transform: uppercase;
            line-height: 2;
        }
    }
    .text_after{
        p:first-child{
            color: $color_text;
            font-size: $size24;
            line-height: 2;
            text-transform: uppercase;
            span{
                color: $color_p;
            }
        }
        p{
            color: $color_6;
            span{
                color: $color_6;
                text-transform: uppercase;
            }
        }
        button{
            @extend %button;
            background-color: $color_f;
            box-shadow: 0 0 0 2px $color_w,0 0 0 4px $color_f;
            margin: 40px 0;
        }
    }
   
    .teachers{
        padding: 25px 0;
        ul{
            padding: 0 75px;
            @include flex;
            flex-wrap:wrap;
            align-items: flex-start;
            li{
                @include span(1 of 4);
                display: block;
                font-size: $size18;
                margin-bottom:30px;
               
                
                a{
                    color:$color_w;
                    font-size: $size18;
                    p{
                        text-align: left;
                        padding: 0 15px;                     
                    }
                    
                }
                div{
                    text-align:left;
                    padding: 0 15px; 
                    p{
                        border-radius:20px;
                        background-color:$color_hip;
                        display: inline-block;
                        padding: 5px 15px;
                        margin: 5px 0;
                    }
                }
                    .hip{
                        p{
                            background-color:$color_hip;
                        }
                    }
                    .break{
                        p{
                            background-color:$color_break;
                        }
                    }
                    .kids{
                        p{
                            background-color:$color_g;
                        }
                    }
                    .stret{
                        p{
                            background-color:$color_f;
                        }
                    }
                    .lady{
                        p{
                            background-color:$color_p;
                        }
                    }
                
            }
        }
       
    }
    
    .location{
        background-color: $color_4;
        padding: 10px 0;
       ul{
            width: 95%;
            margin: 0 auto;
            li{
            @include span(1 of 3);
            text-transform: uppercase;
            font:$size14 $font_o;
            color:$color_text;
            padding: 10px 0;
            text-align: left;
            span{
                color:$color_text;
                font-weight: bold;
            }
            &:before{
                content: url(../images/place.png);
                vertical-align: middle;
            }
         }
       }
    }
    h4{
        font: $size24 $font_m;
        color:$color_5;
        text-transform: uppercase;
    }
    .text_info{
        padding: 30px 0 10px;
        position: relative;
        p,li{
            text-align: left;
            color: $color_6;
            font: $size14 $font_o;
            display: block;
            padding: 10px 0;
            a{
                font: $size16 $font_m;
                color: $color_hip;
            }
        }
        p{
            span:first-child{
            color: $color_g;
            }
        }
       ul{ 
           padding-bottom: 25px;
            li{
            padding: 0;
            span{
                color: $color_hip;
            }
       }
        }
        %button_v-h{
            text-align: left;
            padding-top: 10px;
            padding-bottom: 0;
            margin-top: -27px;
            bottom:0;
            width: 100%;
            position: absolute;
        }
        %p_v-h{
                border-bottom:1px dotted $color_6;
                font:$size14 $font_o;
                display: inline-block;
                line-height:0;
                position: relative;
                padding-right: 25px;
        }
        .button_hide{
           @extend %button_v-h;
           box-shadow: 0 -10px 50px $color_w;
           
            
            p{
              @extend %p_v-h;
                 &::before, &::after {
                    content: ''; 
                    position: absolute;
                    z-index: 3;
                    right: 0;
                    top: 8px;
                    border: 9px solid transparent;
                    border-top: 7px solid  $color_6;
                    
                }
                &::after {
                    border-top: 7px solid  white;
                    top: 7px;
                    
                }
            }
  
        }
        .button_vis{
            @extend %button_v-h;
            box-shadow: none;
            
            
            p{
                @extend %p_v-h;
                 &::before, &::after {
                    content: ''; 
                    position: absolute;
                    z-index: 3;
                    right: 0;
                    top: 0;
                    border: 9px solid transparent;
                    border-top: 7px solid  $color_6;
                    top: 0; 
                    transform: rotate(180deg); 
                }
                &::after {
                    border-top: 7px solid  white;
                    top: 1px; 
                    transform: rotate(180deg); 
                }
            }
  
        }
        .text{
            padding-bottom: 20px;
        }
        .hide{
            display: none;
        }
    }
    .back4{
        .text_after{
            p{
                color:$color_5;
                font-size:$size40;
                span{
                    color:$color_f;
                    &:first-child{
                        color:$color_9;
                    }
                }
            }
        }
        .menu{
            background-color: transparentize($color_f,.5);
            margin-top:90px;
            li{ 
                padding:0.875rem;
                a{
                    color:$color_w;
                    font-size: $size14;
                    font-family: $font_o;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .contact{
            // @include flex;
            // @include flex_cont;
            margin-bottom:20px;
            
            .social,button,.info{
                @include span(1 of 3);
            }
            .social{
                text-align: left;
                a{
                    display: block;
                }
            }
            .info{
                text-align: right;
                a{
                    color:$color_w;
                    font:$size14 CenturyGothic;
                    p{
                        border-bottom:1px dotted $color_w;
                        display: inline-block;
                    }
                    img{
                        padding: 0 10px;
                        vertical-align: middle;
                    }
                }
            }
            button{
                @extend %button;
                background-color: $color_p;
                box-shadow: 0 0 0 2px $color_w,0 0 0 4px $color_p;
                
            }
        }
    }
    .back5{
        padding-bottom: 30px;
    }
    .schedule{
        table{
            width: 100%;
        }
            td{
                color:$color_6;
                font-size:$size14 ;
                padding: 0 2px;
                background-color: transparentize($color_w,.2);
            }
        .style_nav .active
        {
            color:$color_f;
            border-bottom: 1px dotted $color_f;
            position: relative;
                &:before
                {
                    content: url('../images/arrow_choose.jpg');
                    display: block;
                    position: absolute;
                    top:-15px;
                    left:50%;
                    margin-left:-4px; 
                }
        }
        .t_one{
                padding: 0 2.5%;
                
                    a{
                         color:$color_text;
                         border-bottom: 1px dotted $color_text;
                         font-size: $size16; 
                    }
                }
        .style_nav{
            width: 100%;
        }
        .time_list{
            margin-top:40px; 
            @extend %shadow_block;
            background-color: transparentize($color_w,.2);
           
            table{
                display: block;
                 height: 846px;
                 .day{
                     padding: 15px 0;
                     
                     .week{
                            width: 131px;
                        }
                     td{
                     padding:10px 0;
                     background-color: $color_w;
                     border-top:1px solid $color_t;
                     border-bottom:1px solid $color_t;
                     }
                 }
            }
            .area{
               margin-top: 10px;
                height: 100%;
                tr{
                    height: 20%;
                    border-bottom:1px solid $color_t;
                    td{
                        &:first-child{
                            padding: 0 25px;
                            vertical-align: middle;
                            height: 162px;
                            border-right: 1px solid $color_t;
                            background-color: transparentize($color_w,.8);
                        }
                         
                        .blank{
                            color:$color_text;
                            font-size: $size14;
                            background-color: $color_w;
                            height: 100%;
                            display: inline-block;
                            vertical-align: bottom;
                            position: relative;
                            text-align: center;
                            &:hover{
                               cursor: pointer;
                               @extend %shadow_block;
                           }
                           &:hover::before{
                               content: '';
                               display: block;
                               opacity:.8;
                               position: absolute;
                               top:0;
                               width:100%;
                               height: 100%;
                               background: $color_w;
                               left: 0;
                           }
                            &:hover:after{
                               content: 'Zapisatsia';
                               display: block;
                               border-radius: 20px;
                               position: absolute;
                               z-index: 10;
                               top:50%;
                               margin-top: -12.5px;
                               width:70%;
                               left: 15%;
                               padding: 5px;
                               @extend %shadow_block;
                               background: $color_f;
                               color:$color_w;
                               box-shadow: 0 0 0 2px $color_w,0 0 0 4px $color_f;
                           }
                           .stl{
                               background-color: $color_hip;
                               color:$color_w;
                               font-size:$size12;
                               border-radius: 20px;
                               display: inline-block;
                               padding: 3px 15px;
                               margin-top: 15px;
                           }
                           .hip {
                                background-color: $color_hip;
                            }
                            .break {
                                background-color: $color_break;
                            }
                            .kids {
                                background-color: $color_g;
                            }
                            .stret {
                                background-color: $color_f;
                            }
                            .lady {
                                background-color: $color_p;
                            }
                            .gr {
                                color: $color_text;
                                font-size: $size14;
                                margin: 15px 0;
                                line-height: 1.5;
                                
                            }
                            .time {
                                color: $color_9;
                                font-size: $size12;
                                margin: 15px 0;
                            }
                            .teach {
                                color: $color_6;
                                font-size: $size14;
                                font-style: italic;
                                margin: 15px 0;
                            }
                        }
                    }
                }
            }
            .head{
                padding:3%;
               @include flex;
                
            
            .stud,.pag{
                @include span (1 of 4);
            }
            
            
            p{
                color:$color_6;
                font-size:$size18;
                text-align: left;
                span{
                    color:$color_f;
                }
            }
            .adr{
                @include span (2 of 4);
                text-align: center;
            }
            .pag{
                text-align: right;
                 a{
                    background-color: $color_t;
                    padding: 6.5px 10px;
                    margin: 0 1px;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                }
                .arr_prev,.arr_next{
                    background-image: url(../images/arrows.png);
                    
                }
                .arr_prev{
                    background-position: 0 0;
                    &:hover{
                        background-position: 0 -31px;
                    }
                }
                .arr_next{
                    background-position: 31px 0;
                
                 &:hover{
                        background-position: 31px -31px;
                    }
                }
            }
            
            }
        }
        
        span{
            color:$color_p;
        }
        
    }
}
footer{
    @extend %shadow_block;
    background-color: $color_f;
    h5{
        color:$color_w;
        font:$size14 $font_o;
        text-align: center;
        padding: 0.5rem;
    }
}

@include font-face(PFSquareSansProMedium, url("../fonts/PFSquareSansProMedium.ttf"));
@include font-face(CenturyGothic, url("../fonts/CenturyGothic.ttf"));
@include font-face(OpenSans, url("../fonts/OpenSans.ttf"));
@include font-face(MyriadPro, url("../fonts/MyriadPro.ttf"));


@media screen and (min-width:2000px){
   
   .back4v{
       height: 980px;
   }
    .back5{ 
        position: relative;
        figure{
            left: 16%;
        }          
    }

}
@media screen and (max-width:1105px){
        .back4 {
            background-position: center -75%;
            height: 755px;
        }
        .back4v {
            background-position: center -485%;
            height: 1015px;
        }
         %button{
             font-size:$size14;
         }
           section .back4 .menu{
                li{
                     padding: 0.875rem 0.5rem;
                }
            } 
}
@media screen and (min-width:1024px){
         %button,input{
             font-size:$size14;
         }
         
body
{
  
    // overflow: auto;
}
}