/*PRELOADER*/
.loaderArea {
  background: #000;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
}

.load {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: spin 2s ease infinite;
          animation: spin 2s ease infinite;
}

.load :first-child {
  background: #dc0a0a;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.load :nth-child(2) {
  background: #ffffff;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.load :nth-child(3) {
  background: #dc0a0a;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.load :last-child {
  background: #ffffff;
}